/**
 * FILEPATH: /c:/app/react-learn/nextjs-dashboard/app/ui/global.css
 * This file contains the global CSS styles for the Next.js dashboard application.
 * It includes the base, components, and utilities styles from Tailwind CSS.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
